.portfolio-footer {
  border-top: $base-border;
  color: #B4B2AF;
  font-family: $sans-serif;
  padding: 2em 0;

  a {
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .133em;
  }
}
