.portfolio-header {
  border-bottom: $base-border;
  padding: 2em 0;

  h1 {
    font-family: $sans-serif;
    font-size: 1em;
    font-weight: bold;

    @include media($large-screen-up) {
      @include span-columns(8);
      @include inline-block;
      float: none;
      margin: 0;
      vertical-align: middle;
    }
  }

  .name {
    @include small-caps;
    font-size: 1.2em;
    letter-spacing: 0;
  }

  .role {
    color: #9C9B99;
    font-size: .8125em;
    font-weight: normal;
    margin: 0;
    text-transform: none;
  }
}

.header-navigation {
  a {
    @include small-caps;
    color: #444;
    font-size: 1em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      color: $base-font-color;
      font-weight: bold;
    }
  }

  @include media($large-screen-up) {
    @include span-columns(4);
    @include inline-block;
    float: none;
    text-align: right;
    vertical-align: middle;

    li {
      display: inline;

      & ~ li {
        margin-left: 2em;
      }
    }
  }
}
