body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $unitless-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-size: 1em;
  line-height: $header-line-height;
  margin: 0 0 ($base-line-height * .666666667);
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-family: $serif;
  font-size: $base-font-size * 2.25; // 16 * 2.25 = 36px
  font-weight: normal;
  margin-bottom: 1rem;
}

p {
  margin: 0 0 ($base-line-height * .666666667);
}

a {
  @include transition(color 0.1s linear);
  color: $base-font-color;
  text-decoration: underline;

  &:hover {
    opacity: .75;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

dl {
  font-family: $sans-serif;
  font-size: .75em;
  letter-spacing: .1em;
  margin-top: 0;
  text-transform: uppercase;
}

dd {
  color: #999;
}
