

//---HTML5 Boilerplate + Normalize------------
//= require "_vendor/normalize.css"
//= require "_vendor/html5bp.css"

//---Grid-------------------------------------
//= require "_layout/grid"

//--- Globals -------------------------------------

a
  color: inherit
  &:hover
    opacity: 0.7

body
  font-family: "proxima-nova", Helvetica, Arial, Verdana, sans-serif
  font-size: 18px
  font-weight: 300

  font-family: "ff-tisa-web-pro", Georgia, Times New Roman, serif
  font-weight: 400
  text-align: center


.main

.wrapper
  margin: 0 auto
  padding: 0 10px
  width: 960px

.background
  &.asphalt
    background-image: image-url('bg_asfalt.jpg')
    color: #e0e0e0

#hero
  padding: 200px 0 110px
  text-align: center
  .lemurlink
    color: #ffa800
