---
title: Graphic Design &amp; Web Development
description:
---

#hero.background.asphalt
  .wrapper
    %h1 Hello! I am a Graphic Designer and Front-End Developer based in Los Angeles. Nice to meet you!
    %p I am currently employed at #{ link_to "LEMUR Heavy Industries", "http://www.lemurheavy.com", class: 'lemurlink' } in Culver City, California.
    = link_to "VIEW MY WORK", "", class: "buttonStyle"
    = link_to "Get to know more about me...", ""

#selectedWorks
