<figure class="bio-image">
  <img src="/me-cartoon.png" alt="Myself as a floaty character">
  <figcaption>
    Illustration by
    <a href="//sohsilly.tumblr.com/">Sarah Soh</a>
  </figcaption>
</figure>

<article class="bio">
  <h1>Hi There!</h1>

  <p>
    I'm a designer at <a href="http://thoughtbot.com">thoughtbot, inc.</a> in San
    Francisco. Before that, I studied Graphic Design at
    <a href="http://otis.edu">Otis College of Art and Design</a>
    in Los Angeles.
  </p>

  <p>
    The one thing I've learned from my co-workers is that I should use serif
    typefaces for body text and sans-serifs for headers.
  </p>

  <aside>
    <dl class="bio-list">
      <dt>Some of the things I do</dt>
      <dd>User Interface Design</dd>
      <dd>UX Design</dd>
      <dd>Front-end Development</dd>
      <dd>Ruby/Rails Development</dd>
    </dl>

    <dl class="bio-list">
      <dt>I've worked with big and small organizations such as</dt>
      <dd>C40 Cities</dd>
      <dd>Tapjoy</dd>
      <dd>Heroku</dd>
      <dd>Coveralls</dd>
      <dd>Softcover</dd>
      <dd>Tandem Still + Motion</dd>
      <dd>LA County Dept. of Health</dd>
    </dl>
  </aside>

  <h2>Find me on the internet!</h2>

  <p>
    I blurt useless things on
    <a href="//twitter.com/donokuda" class="link-twitter">Twitter</a>,
    force-push code to
    <a href="//github.com/donokuda" class="link-github">GitHub</a>,
    crop designs on
    <a href="//dribbble.com/donokuda" class="link-dribbble">Dribbble</a>, and
    drop the bass on
    <a href="//soundcloud.com/van-aerial" class="link-soundcloud">Soundcloud</a>.
    You can also
    <a href="mailto:don.okuda@gmail.com" class="link-email">email me</a>
    if that's your thing.
  </p>
</article>
