<header class="portfolio-header">
  <div class="content-wrapper">
    <h1>
      <span class="name">Don Okuda</span>
      <p class="role">Designer at thoughtbot, inc.</p>
    </h1>
    <nav class="header-navigation">
      <ul>
        <li>{{link-to 'About' 'about'}}</li>
        <li>{{link-to 'Projects' 'projects'}}</li>
      </ul>
    </nav>
  </div>
</header>
