<header class="projects-header">
  <h1>Selected Works</h1>
  <p>
    I've been designing and building websites and applications since 2012. Here
    are some of the works I'm particularly proud of.
  </p>
</header>

<article class="project-item">
  <figure class="project-logo-container">
    <img src="/coveralls-logo.png" />
  </figure>
  <section class="project-overview">
    <header>
      <h2 class="project-name">Cube</h2>
      <span class="project-meta-info">(In Progress)</span>
      <time datetime="2014-01-01" class="project-meta-info">2014</time>
    </header>
    <p>
      Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at
      eget metus. Donec ullamcorper nulla non metus auctor fringilla. Curabitur
      blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit
      amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Duis
      mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
      odio sem nec elit.
    </p>
  </section>
</article>

<article class="project-item">
  <figure class="project-logo-container">
    <img src="/coveralls-logo.png" />
  </figure>
  <section class="project-overview">
    <header>
      <h2 class="project-name">Coveralls</h2>
      <time datetime="2012-01-01" class="project-meta-info">2012</time>
    </header>
    <p>
      Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at
      eget metus. Donec ullamcorper nulla non metus auctor fringilla. Curabitur
      blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit
      amet non magna.
    </p>
    <section class="project-links">
      <dl class="project-link">
        <dt>Learn more</dt>
        <dd>
          <a href="#">View Details</a>
        </dd>
      </dl>

      <dl class="project-link">
        <dt>Visit Site</dt>
        <dd>
          <a href="//coveralls.io">coveralls.io</a>
        </dd>
      </dl>
    </section>
  </section>
</article>

<article class="project-item">
  <figure class="project-logo-container">
    <img src="/coveralls-logo.png" />
  </figure>
  <section class="project-overview">
    <header>
      <h2 class="project-name">Cube</h2>
      <span class="project-meta-info">(In Progress)</span>
      <time datetime="2014-01-01" class="project-meta-info">2014</time>
    </header>
    <p>
      Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at
      eget metus. Donec ullamcorper nulla non metus auctor fringilla. Curabitur
      blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit
      amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Duis
      mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
      odio sem nec elit.
    </p>
    <section class="project-links">
      <dl class="project-link">
        <dt>Visit Site</dt>
        <dd>
          <a href="//coveralls.io">coveralls.io</a>
        </dd>
      </dl>
    </section>
  </section>
</article>

<article class="project-item">
  <figure class="project-logo-container">
    <img src="/coveralls-logo.png" />
  </figure>
  <section class="project-overview">
    <header>
      <h2 class="project-name">Coveralls</h2>
      <time datetime="2012-01-01" class="project-meta-info">2012</time>
    </header>
    <p>
      Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at
      eget metus. Donec ullamcorper nulla non metus auctor fringilla. Curabitur
      blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit
      amet non magna.
    </p>
    <section class="project-links">
      <dl class="project-link">
        <dt>Learn more</dt>
        <dd>
          <a href="#">View Details</a>
        </dd>
      </dl>
    </section>
  </section>
</article>
